<% if logged_in? %>
  <label><%= current_user.username   %></label>  
<% end %>

<% User.all.each do |user| %>
  <ul>
    <li>Username: <%=user.username %> </li>
    <li>Number of Cheers: <%=user.cheers %> </li>
  </ul>
<% end %>